@font-face {
    font-family: 'cocona-regular';
    src: url('../assets/fonts/Coconat-Regular.otf');
}

@font-face {
    font-family: 'cocona-bold';
    src: url('../assets/fonts/Coconat-Bold.otf');
}

@font-face {
    font-family: 'cocona-demi';
    src: url('../assets/fonts/Coconat-Demi.otf');
}