:root {
    --theme-primary-text: #A91D3A;
    --theme-primary-bg: #A91D3A;
    --theme-primary-border: #A91D3A;
    --theme-primary-bg-hover: #80152B;
    --theme-primary-bg-active: #500F23;

    --theme-secondary-text: #C73659;
    --theme-secondary-bg: #C73659;
    --theme-secondary-border: #C73659;
    --theme-secondary-bg-hover: #9E2B46;
    --theme-secondary-bg-active: #6E1E35;

    --theme-primary-dark-border: #151515;
    --theme-primary-dark-text: #151515;
    --theme-primary-dark-bg: #151515;

    --theme-primary-light-border: #EEEEEE;
    --theme-primary-light-text: #EEEEEE;
    --theme-primary-light-bg: #EEEEEE;
}