@import './mixins';
@import './extends';
@import './reset';
@import './animations';
@import './container';
@import './grid';
@import './theme';
@import './fonts';

.app {
    background-color: var(--theme-primary-bg);
    height: 100vh;
    @extend %flex-center;



    h1 {
        font-family: 'cocona-demi';
        font-size: 300px;
        color: var(--theme-white-text);
    }
}